/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'Open-Sans-Semibold';
  src: url("../fonts/Open-Sans-Semibold/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'Free-Style-Script';
  src: url("../fonts/Free-Style-Script/FreestyleScript-Regular.ttf");
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/Open-Sans-Bold/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/Open-Sans/OpenSans.ttf");
}

@font-face {
  font-family: 'Open-Sans-Italic';
  src: url("../fonts/Open-Sans-Italic/2208.ttf");
}

a{
	text-decoration: none;
}

.fixedHeader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	z-index: 100;
	background-color: #FFF;
	box-shadow: 0 0 50px 0 #ccc;
}

.header-container{
	margin:0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;

	.header{
		background-color: #FFF;
		max-width: 800px;
		width: 100%;
		margin:0 auto;
		padding: 15px 0 15px 0;

		&:after,
		&:before{
			clear: both;
			display: table;
			content: "";
		}
		
		&__left-menu__list-item,
		&__right-menu__list-item{
			margin:0 10px 0 10px;
			padding: 0 0 0 0;
			display: inline-block;
			vertical-align: middle;

			a{
				font-size: 14px;
				line-height: 16px;
				color: #555;
				font-family: 'Open-Sans-Semibold';

				&:hover{
					color: #5363db;
					text-decoration: underline;
				}
			}
		}

		&__right-menu{
			float: right;
			margin: 25px 0 0 0;
		}

		&__left-menu{
			float: left;
			margin: 25px 0 0 0;
		}

		&__logo{
			margin: 0 auto;
			width: 70px;
			height: 70px;
		}
	}
}

.banner-container{
	background: url(../images/banner-image.jpg) center no-repeat;
	background-size: cover;

	.banner{
		max-width: 930px;
		width: 100%;
		margin: 0 auto;
		padding: 100px 0 100px 0;

		&:after,
		&:before{
			clear: both;
			display: table;
			content: "";
		}

		&__form{
			width: 240px;
			margin:0 0 0 0;
			float: left;
			padding: 35px;
			background-color: #FFF;
			border-radius: 10px;
			min-height: 320px;
			h3{
				font-size: 26px;
				line-height: 28px;
				color: #5363db;
				font-family: 'Open-Sans-Semibold';
				margin:0 0 10px 7px;
			}
			input{
				width: 220px;
				height: 50px;
				background-color: #f2f2f2;
				border-radius: 5px;
				padding: 5px 5px 5px 15px;
				margin: 0 0 10px 0;
				border: none;
				font-size: 14px;
			}
			.form_submit{
				width: 170px;
				height: 50px;
				border-radius: 5px;
				color: white;
				background-color: #5b6ceb;
				text-align: center;
				float: right;
				margin:10px 0 0 0;
				padding: 0 0 0 0;
			}
			.select2-container{
				width: 240px !important;
				.select2-selection--single{
					height: 50px !important;
				    background-color: #f2f2f2;
    				border-radius: 5px;
    				border: none;
    				.select2-selection__rendered{
    					padding-top: 10px;
    					height: 40px;
    					padding-left: 15px;
    				}
    				.select2-selection__arrow{
    					top: 10px;
    					right: 10px;
    				}
				}
				
				
			}

		}

		&__title{
			float: right;
			width: 52%;
			h1{
				margin: 50px 0 0 0;
				padding: 0 0 0 0;
				font-size: 48px;
				line-height: 59px;
				color: #fff;
				font-family: 'Open-Sans-Bold';
				text-transform: uppercase;
			}
			p{
				margin: 40px 0 0 0;
				padding: 0 0 0 0;
				font-size: 40px;
				line-height: 42px;
				color: #fff;
				font-family: 'Free-Style-Script';
			}
		}
	}
}

.select2-dropdown{
	border: none !important;
	.select2-results__option--highlighted{
		background: #8a8a8a !important;
		color: black !important;
	}
}

.feature-program-container{
	background-color: #FFF;
	.feature{
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		padding: 125px 0 0 0;
		h3{
			font-size: 30px;
			line-height: 32px;
			margin: 0 0 15px 0;
			padding: 0 0 0 0;
			color: #5b6ceb;
			font-family: 'Open-Sans-Bold';
			text-align: center;
		}
		h4{
			font-size: 41px;
			line-height: 43px;
			margin: 0 0 75px 0;
			padding: 0 0 0 0;
			color: #777;
			font-family: 'Free-Style-Script';
			text-align: center;
		}
		&__box{

		}

		&__box__list{

		}
		&__box__list__item{
			width: 48%;
			height: 300px;
			overflow: hidden;
    		border-radius: 14px;
			margin:0 25px 25px 0;
			display: inline-block;
			vertical-align: top;
			a{
				display: block;
			}

			&:hover{
				box-shadow: 2px 2px 41px 4px #999;
			}

			&:nth-child(2n){
				margin:0 0 0 0;
			}
		}
		&__item-img-box{
			width: 48%;
			float: left;
		}
		&__item-info-box{
		    padding: 15px 15px 15px 0px;
    		width: 45%;
			float: right;

			strong{
				text-transform: uppercase;
				font-size: 20px;
				line-height: 22px;
				font-family: 'Open-Sans-Bold';
				color: #777;
				display: block;
				margin:0 0 25px 0;
			}
			p{
				font-size: 14px;
				line-height: 23px;
				color: #555;
				font-family: 'Open-Sans';
				margin: 0 0 0 0;
			}
			span{
				font-size: 14px;
				line-height: 16px;
				color: #999;
				font-weight: bold;
				font-family: 'Open-Sans';
				display: block;
				margin: 10px 0 0 0;
			}
		}
	}
}

.greed_box-container{
	margin: 50px 0 50px 0;

	.greed_box{

		&__list{
			width: 100%;
			font-size: 0;
		}

		&__item{
			width: 25%;
			display: inline-block;
			vertical-align: top;
			position: relative;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			a{
				display: block;
			}

			&:hover{
				.greed_box__item-info{
					display: block;
					cursor: pointer;
				}
			}
		}
		&__item-info{
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(123,136,238,0.5) url(../images/glyphicons-28-search.png) center no-repeat
		}
	}
}

.about_us-container{
	.about_us{
		max-width: 1170px;
		width: 100%;
		margin:0 auto;
		font-size: 0;

		&__slider,
		&__content{
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}

		&__content{
			margin:40px 0 0 0;

			h3{
				font-size: 30px;
				line-height: 32px;
				color: #5b6ceb;
				font-family: 'Open-Sans-Bold';
				margin:0 0 15px 0;
			}
			p{
				font-size: 14px;
				line-height: 20px;
				color: #555;
				font-family: 'Open-Sans';
				margin: 0 0 0 0;
				padding: 0 130px 0 0;
			}
		}

		&__slider{
			img{
				width: 100%;
			}
			.slick-list{
				border-radius: 15px !important;
				box-shadow: 2px 2px 13px 2px #777;
			}
		}

	}
}

.type_balance-container{
	widows: 100%;
	margin:0 0 0 0;
	padding: 80px 0;	
	background: url(../images/bg_center_box.png) center no-repeat;
	background-size: cover;
	.type_balance{
		max-width: 1170px;
		width: 100%;
		margin:0 auto;

		&__list{
			margin:0 0 0 0;
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
		}
		&__item{
			width: 25%;
			margin:0 0 25px 0;
			text-align: center;
			a{
				display: block;

				img{
				text-align: center;
				margin: 0 auto 15px;
				width: 70px;
				height: 70px;
				}
				strong{
					display: block;
					font-size: 18px;
					line-height: 20px;
					color: #fff;
					font-family: 'Open-Sans-Bold';
					margin: 0 0 0 0;
				}
				p{
					font-family: 'Open-Sans';
					font-size: 16px;
					line-height: 23px;
					color: #fff;
					margin: 10px 0 0 0;
				}
			}
		}
	}
}

.payment_card_box-container{
	background: #f1f1f1 url(../images/lotos.png) no-repeat;
	background-position: 100% 100%;
	background-size: 50%;
	.payment_card_box{
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		padding: 80px 0 150px 0;
		&__list{
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
		}
		&__item{
			width: 372px;
			box-shadow: 0 0 52px 0 #888;
			border-radius: 12px;
			background-color: #fff;
		}
		&__item-title{
			background-color: #5b6ceb;
			padding: 50px 0;
			text-align: center;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			h4{
				font-size: 67px;
				line-height: 70px;
				color: #fff;
				font-family: 'Open-Sans-Bold';
				margin:0 0 0 0;
				display: inline-block;
			}
			p{
				font-size: 18px;
				line-height: 20px;
				color: #fff;
				margin:0 0 0 0;
				display: inline-block;
				font-family: 'Open-Sans-Bold';
				&:first-child{
					font-size: 32px;
					line-height: 34px;
					display: inline-block;
					margin:0 0 0 0;
				}
			}
		}
		&__item-body{
			padding: 35px 0;
			text-align: center;
		}
		&__body-list{

		}
		&__body-item{
			font-size: 18px;
			line-height: 20px;
			color: #555;
			font-family: 'Open-Sans';
			margin:0 0 10px 0;
		}
		&__item-btn{
			display: block;
			margin: 40px auto;
			background-color: #5b6ceb;
			color: #fff;
			text-align: center;
			padding: 10px 25px;
			font-size: 18px;
			font-family: 'Open-Sans-Semibold';
			border: none;
			border-radius: 17px;
			cursor: pointer;
		}
		&__slider{
			margin: 100px 0 0 0;
		}
		&__slider-big{
			.slick-dots{
			    top: -40px !important;
			    right: 40px !important;
			    width: fit-content !important;
			    transform: rotate(90deg) !important;
			    li{
			    	button{
			    		&:before{
			    			content: "" !important;
			    		}
			    	}
			    	background: url(../images/ellips_grey.png) center no-repeat !important;
			    }
			    .slick-active{
			    	background: url(../images/ellips_active.png) center no-repeat !important;
			    }
			}

			.paymentBig-slide{
				width: 100%;
				background-color: #fff;
				border-radius: 10px;
				padding: 20px;
				margin: 0 0 0 0;
				display: table;

				p{
					font-family: 'Open-Sans-Italic';
					font-size: 14px;
					line-height: 16px;
					color: #555;
					margin:0 0 25px 0;
					padding: 0 0 0 0;
					width: 80%;
					position: relative;

					&:after{
						position: absolute;
						content: "";
						top: -30px;
						left: -40px;
						width: 21px;
						height: 15px;
						background: url(../images/lap-up.png) center no-repeat;
						}

						&:before{
							position: absolute;
							content: "";
							bottom: -30px;
							right: -40px;
							width: 21px;
							height: 15px;
							background: url(../images/lap-down.png) center no-repeat;
						}
				}
				span{
					font-family: 'Open-Sans';
					font-size: 14px;
					line-height: 16px;
					color: #555;
					margin:0 0 0 0;
				}
				strong{
					font-family: 'Open-Sans-Bold';
					font-size: 16px;
					line-height: 18px;
					color: #5b6ceb;
					margin:0 0 0 0;
				}
				.paymentBig-slide-img{
					display: table-cell;
					width: 20%;
					vertical-align: top;
					&:after,
					&:before{
						clear: both;
						display: table;
						content: "";
					}

					hr{
						transform: rotate(90deg);
						margin:-62px 0 0 0;
						float: right;
					}
				}
				.paymentBig-slide-info{
					display: table-cell;
					width: 80%;
					vertical-align: top;
					padding: 30px 0 0 0;
				}
			}
		}
		&__slider-small{
			width: 230px !important;
			margin: -66px 0 0 35%;

			.slick-prev{
				left: -50px !important;
			}
			.slick-list{
				padding: 0 0 0 0 !important;
			}

			

			.paymentSmall-slide{
				
				padding: 0 10px;
				margin:0 5px 0 5px;
				&:after,
				&:before{
					display: table;
					clear: both;
					content: "";
				}
				.paymentSmall-slide-img{
					width: 35%;
					float: left;
					vertical-align: middle;
				}
				.paymentSmall-slide-info{
					float: right;
					width: 60%;
					padding: 15px 0 0 0;
					vertical-align: middle;
					strong{
						font-family: 'Open-Sans-Bold';
						font-size: 14px;
						line-height: 22px;
						color: #555;
					}
					span{
						font-family: 'Open-Sans';
						font-size: 12px;
						line-height: 14px;
						color: #777;
					}
				}
			}
		}
	}
}

.footer-container{
	background-color: #5b6ceb;
	.footer{
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		padding: 100px 0;
		display: table;
		&__about{
			display: table-cell;
			width: 50%;
			h2{
				font-size: 18px;
				line-height: 20px;
				color: #fff;
				font-family: 'Open-Sans-Bold';
				margin:0 0 40px 0;
			}
			p{
				font-size: 14px;
				line-height: 23px;
				color: #fff;
				font-family: 'Open-Sans';
				margin:0 0 50px 0;
			}
		}
		&__about__list{
			li{
				display: inline-block;
				margin:0 10px 0 0;
				a{
					display: block;
				}
			}
		}
		&__contact{
			display: table-cell;
			width: 50%;
			h2{
				font-size: 18px;
				line-height: 20px;
				color: #fff;
				font-family: 'Open-Sans-Bold';
				margin:0 0 40px 0;
			}
		}
		&__contact__list{
			font-size: 0;
		}
		&__contact__item{
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin:0 0 30px 0;
			img{
				float: left;
				width: 10%;
				margin:0 10px 0 0;
			}

			p{
				
				a{
					font-size: 14px;
					line-height: 16px;
					color: #fff;
					font-family: 'Open-Sans';
					display: block;
				}
			}
		}
	}
}

.bottom-info-container{
	background-color: #5363d8;
	padding: 45px 0;
	text-align: center;
	p{
		font-size: 16px;
		line-height: 18px;
		color: #b7bffc;
		font-family: 'Open-Sans';
		text-align: center;
	}
}