/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  src: url("../fonts/Open-Sans-Semibold/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: 'Free-Style-Script';
  src: url("../fonts/Free-Style-Script/FreestyleScript-Regular.ttf");
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/Open-Sans-Bold/OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/Open-Sans/OpenSans.ttf");
}
@font-face {
  font-family: 'Open-Sans-Italic';
  src: url("../fonts/Open-Sans-Italic/2208.ttf");
}
/* line 33, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 37, ../sass/screen.scss */
* {
  outline: none !important;
}

/* line 41, ../sass/screen.scss */
.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 0 0 50px 0 #ccc;
}

/* line 51, ../sass/screen.scss */
.header-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}
/* line 56, ../sass/screen.scss */
.header-container .header {
  background-color: #FFF;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  position: relative;
}
/* line 64, ../sass/screen.scss */
.header-container .header__open-mobile-menu {
  display: none;
  position: absolute;
  top: 23px;
  left: 25px;
  width: 30px;
  height: 30px;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
/* line 75, ../sass/screen.scss */
.header-container .header__open-mobile-menu img {
  width: 100%;
  height: 100%;
}
/* line 81, ../sass/screen.scss */
.header-container .header:after, .header-container .header:before {
  clear: both;
  display: table;
  content: "";
}
/* line 88, ../sass/screen.scss */
.header-container .header__left-menu__list-item, .header-container .header__right-menu__list-item {
  margin: 0 10px 0 10px;
  padding: 0 0 0 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 95, ../sass/screen.scss */
.header-container .header__left-menu__list-item a, .header-container .header__right-menu__list-item a {
  font-size: 14px;
  line-height: 16px;
  color: #555;
  font-family: 'Open-Sans-Semibold';
}
/* line 101, ../sass/screen.scss */
.header-container .header__left-menu__list-item a:hover, .header-container .header__right-menu__list-item a:hover {
  color: #5363db;
  text-decoration: underline;
}
/* line 108, ../sass/screen.scss */
.header-container .header__right-menu {
  float: right;
  margin: 25px 0 0 0;
}
/* line 113, ../sass/screen.scss */
.header-container .header__left-menu {
  float: left;
  margin: 25px 0 0 0;
}
/* line 118, ../sass/screen.scss */
.header-container .header__logo {
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
/* line 122, ../sass/screen.scss */
.header-container .header__logo a {
  display: block;
}
/* line 124, ../sass/screen.scss */
.header-container .header__logo a img {
  width: 100%;
  height: 100%;
}

/* line 133, ../sass/screen.scss */
.select2-results__option {
  font-size: 14px !important;
  line-height: 16px !important;
  font-family: 'Open-Sans' !important;
  color: #757575 !important;
}

/* line 140, ../sass/screen.scss */
.banner-container {
  background: url(../images/banner-image.jpg) center no-repeat;
  background-size: cover;
}
/* line 144, ../sass/screen.scss */
.banner-container .banner {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}
/* line 150, ../sass/screen.scss */
.banner-container .banner:after, .banner-container .banner:before {
  clear: both;
  display: table;
  content: "";
}
/* line 157, ../sass/screen.scss */
.banner-container .banner__form {
  width: 240px;
  margin: 0 0 0 0;
  float: left;
  padding: 35px;
  background-color: #FFF;
  border-radius: 10px;
  min-height: 320px;
}
/* line 165, ../sass/screen.scss */
.banner-container .banner__form .select2-selection__rendered {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Open-Sans';
  margin: 0 0 0 0;
  color: #757575;
  padding: 17px 0 0 15px !important;
}
/* line 173, ../sass/screen.scss */
.banner-container .banner__form h3 {
  font-size: 26px;
  line-height: 28px;
  color: #5363db;
  font-family: 'Open-Sans-Semibold';
  margin: 0 0 10px 7px;
}
/* line 180, ../sass/screen.scss */
.banner-container .banner__form input {
  width: 220px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px 5px 5px 15px;
  margin: 0 0 10px 0;
  border: none;
  font-size: 14px;
}
/* line 190, ../sass/screen.scss */
.banner-container .banner__form .form_submit {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: #5b6ceb;
  text-align: center;
  float: right;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}
/* line 201, ../sass/screen.scss */
.banner-container .banner__form .select2-container {
  width: 240px !important;
}
/* line 203, ../sass/screen.scss */
.banner-container .banner__form .select2-container .select2-selection--single {
  height: 50px !important;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
}
/* line 208, ../sass/screen.scss */
.banner-container .banner__form .select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 10px;
  height: 40px;
  padding-left: 15px;
}
/* line 213, ../sass/screen.scss */
.banner-container .banner__form .select2-container .select2-selection--single .select2-selection__arrow {
  top: 10px;
  right: 10px;
}
/* line 224, ../sass/screen.scss */
.banner-container .banner__title {
  float: right;
  width: 52%;
}
/* line 227, ../sass/screen.scss */
.banner-container .banner__title h1 {
  margin: 50px 0 0 0;
  padding: 0 0 0 0;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
  font-family: 'Open-Sans-Bold';
  text-transform: uppercase;
}
/* line 236, ../sass/screen.scss */
.banner-container .banner__title p {
  margin: 40px 0 0 0;
  padding: 0 0 0 0;
  font-size: 40px;
  line-height: 42px;
  color: #fff;
  font-family: 'Free-Style-Script';
}

/* line 248, ../sass/screen.scss */
.select2-dropdown {
  border: none !important;
}
/* line 250, ../sass/screen.scss */
.select2-dropdown .select2-results__option--highlighted {
  background: #8a8a8a !important;
  color: black !important;
}

/* line 256, ../sass/screen.scss */
.feature-program-container {
  background-color: #FFF;
}
/* line 258, ../sass/screen.scss */
.feature-program-container .feature {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 125px 0 0 0;
}
/* line 263, ../sass/screen.scss */
.feature-program-container .feature h3 {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  color: #5b6ceb;
  font-family: 'Open-Sans-Bold';
  text-align: center;
}
/* line 272, ../sass/screen.scss */
.feature-program-container .feature h4 {
  font-size: 41px;
  line-height: 43px;
  margin: 0 0 75px 0;
  padding: 0 0 0 0;
  color: #777;
  font-family: 'Free-Style-Script';
  text-align: center;
}
/* line 288, ../sass/screen.scss */
.feature-program-container .feature__box__list__item {
  width: 48%;
  height: 300px;
  overflow: hidden;
  border-radius: 14px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}
/* line 296, ../sass/screen.scss */
.feature-program-container .feature__box__list__item a {
  display: block;
}
/* line 300, ../sass/screen.scss */
.feature-program-container .feature__box__list__item:hover {
  box-shadow: 2px 2px 41px 4px #999;
}
/* line 304, ../sass/screen.scss */
.feature-program-container .feature__box__list__item:nth-child(2n) {
  margin: 0 0 0 0;
}
/* line 308, ../sass/screen.scss */
.feature-program-container .feature__item-img-box {
  width: 48%;
  float: left;
}
/* line 312, ../sass/screen.scss */
.feature-program-container .feature__item-info-box {
  padding: 15px 15px 15px 0px;
  width: 45%;
  float: right;
}
/* line 317, ../sass/screen.scss */
.feature-program-container .feature__item-info-box strong {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Open-Sans-Bold';
  color: #777;
  display: block;
  margin: 0 0 25px 0;
}
/* line 326, ../sass/screen.scss */
.feature-program-container .feature__item-info-box p {
  font-size: 14px;
  line-height: 23px;
  color: #555;
  font-family: 'Open-Sans';
  margin: 0 0 0 0;
}
/* line 333, ../sass/screen.scss */
.feature-program-container .feature__item-info-box span {
  font-size: 14px;
  line-height: 16px;
  color: #999;
  font-weight: bold;
  font-family: 'Open-Sans';
  display: block;
  margin: 10px 0 0 0;
}

/* line 346, ../sass/screen.scss */
.greed_box-container {
  margin: 50px 0 50px 0;
}
/* line 351, ../sass/screen.scss */
.greed_box-container .greed_box__list {
  width: 100%;
  font-size: 0;
}
/* line 356, ../sass/screen.scss */
.greed_box-container .greed_box__item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 361, ../sass/screen.scss */
.greed_box-container .greed_box__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 366, ../sass/screen.scss */
.greed_box-container .greed_box__item a {
  display: block;
}
/* line 371, ../sass/screen.scss */
.greed_box-container .greed_box__item:hover .greed_box__item-info {
  display: block;
  cursor: pointer;
}
/* line 377, ../sass/screen.scss */
.greed_box-container .greed_box__item-info {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(123, 136, 238, 0.5) url(../images/glyphicons-28-search.png) center no-repeat;
}

/* line 390, ../sass/screen.scss */
.about_us-container .about_us {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}
/* line 396, ../sass/screen.scss */
.about_us-container .about_us:after, .about_us-container .about_us:before {
  clear: both;
  display: table;
  content: "";
}
/* line 403, ../sass/screen.scss */
.about_us-container .about_us__slider {
  float: right;
}
/* line 407, ../sass/screen.scss */
.about_us-container .about_us__content {
  float: left;
}
/* line 411, ../sass/screen.scss */
.about_us-container .about_us__slider, .about_us-container .about_us__content {
  width: 50%;
}
/* line 416, ../sass/screen.scss */
.about_us-container .about_us__content {
  margin: 40px 0 0 0;
}
/* line 419, ../sass/screen.scss */
.about_us-container .about_us__content h3 {
  font-size: 30px;
  line-height: 32px;
  color: #5b6ceb;
  font-family: 'Open-Sans-Bold';
  margin: 0 0 15px 0;
}
/* line 426, ../sass/screen.scss */
.about_us-container .about_us__content p {
  font-size: 14px;
  line-height: 20px;
  color: #555;
  font-family: 'Open-Sans';
  margin: 0 0 0 0;
  padding: 0 130px 0 0;
}
/* line 437, ../sass/screen.scss */
.about_us-container .about_us__slider img {
  width: 100%;
}
/* line 440, ../sass/screen.scss */
.about_us-container .about_us__slider .slick-list {
  border-radius: 15px !important;
  box-shadow: 2px 2px 13px 2px #777;
}

/* line 449, ../sass/screen.scss */
.type_balance-container {
  widows: 100%;
  margin: 0 0 0 0;
  padding: 80px 0;
  background: url(../images/bg_center_box.png) center no-repeat;
  background-size: cover;
}
/* line 455, ../sass/screen.scss */
.type_balance-container .type_balance {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
/* line 460, ../sass/screen.scss */
.type_balance-container .type_balance__list {
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
/* line 466, ../sass/screen.scss */
.type_balance-container .type_balance__item {
  width: 25%;
  margin: 0 0 25px 0;
  text-align: center;
}
/* line 470, ../sass/screen.scss */
.type_balance-container .type_balance__item a {
  display: block;
}
/* line 473, ../sass/screen.scss */
.type_balance-container .type_balance__item a img {
  text-align: center;
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
}
/* line 479, ../sass/screen.scss */
.type_balance-container .type_balance__item a strong {
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: 'Open-Sans-Bold';
  margin: 0 0 0 0;
}
/* line 487, ../sass/screen.scss */
.type_balance-container .type_balance__item a p {
  font-family: 'Open-Sans';
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  margin: 10px 0 0 0;
}

/* line 499, ../sass/screen.scss */
.payment_card_box-container {
  background: #f1f1f1 url(../images/lotos.png) no-repeat;
  background-position: 100% 100%;
  background-size: 50%;
}
/* line 503, ../sass/screen.scss */
.payment_card_box-container .payment_card_box {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 150px 0;
}
/* line 508, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
/* line 513, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item {
  width: 372px;
  box-shadow: 0 0 52px 0 #888;
  border-radius: 12px;
  background-color: #fff;
}
/* line 519, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item-title {
  background-color: #5b6ceb;
  padding: 50px 0;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
/* line 525, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item-title h4 {
  font-size: 67px;
  line-height: 70px;
  color: #fff;
  font-family: 'Open-Sans-Bold';
  margin: 0 0 0 0;
  display: inline-block;
}
/* line 533, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item-title p {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  margin: 0 0 0 0;
  display: inline-block;
  font-family: 'Open-Sans-Bold';
}
/* line 540, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item-title p:first-child {
  font-size: 32px;
  line-height: 34px;
  display: inline-block;
  margin: 0 0 0 0;
}
/* line 548, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item-body {
  padding: 35px 0;
  text-align: center;
}
/* line 555, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__body-item {
  font-size: 18px;
  line-height: 20px;
  color: #555;
  font-family: 'Open-Sans';
  margin: 0 0 10px 0;
}
/* line 562, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__item-btn {
  display: block;
  margin: 40px auto;
  background-color: #5b6ceb;
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  font-size: 18px;
  font-family: 'Open-Sans-Semibold';
  border: none;
  border-radius: 17px;
  cursor: pointer;
}
/* line 575, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider {
  margin: 100px 0 0 0;
}
/* line 580, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .slick-dots {
  top: -40px !important;
  right: 40px !important;
  width: fit-content !important;
  transform: rotate(90deg) !important;
}
/* line 585, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .slick-dots li {
  background: url(../images/ellips_grey.png) center no-repeat !important;
}
/* line 587, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .slick-dots li button:before {
  content: "" !important;
}
/* line 593, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .slick-dots .slick-active {
  background: url(../images/ellips_active.png) center no-repeat !important;
}
/* line 598, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 0 0;
  display: table;
}
/* line 606, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide p {
  font-family: 'Open-Sans-Italic';
  font-size: 14px;
  line-height: 16px;
  color: #555;
  margin: 0 0 25px 0;
  padding: 0 0 0 0;
  width: 80%;
  position: relative;
}
/* line 616, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide p:after {
  position: absolute;
  content: "";
  top: -30px;
  left: -40px;
  width: 21px;
  height: 15px;
  background: url(../images/lap-up.png) center no-repeat;
}
/* line 626, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide p:before {
  position: absolute;
  content: "";
  bottom: -30px;
  right: -40px;
  width: 21px;
  height: 15px;
  background: url(../images/lap-down.png) center no-repeat;
}
/* line 636, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide span {
  font-family: 'Open-Sans';
  font-size: 14px;
  line-height: 16px;
  color: #555;
  margin: 0 0 0 0;
}
/* line 643, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide strong {
  font-family: 'Open-Sans-Bold';
  font-size: 16px;
  line-height: 18px;
  color: #5b6ceb;
  margin: 0 0 0 0;
}
/* line 650, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img {
  display: table-cell;
  width: 20%;
  vertical-align: top;
}
/* line 654, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img:after, .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img:before {
  clear: both;
  display: table;
  content: "";
}
/* line 661, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img hr {
  transform: rotate(90deg);
  margin: -62px 0 0 0;
  float: right;
}
/* line 667, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-info {
  display: table-cell;
  width: 80%;
  vertical-align: top;
  padding: 30px 0 0 0;
}
/* line 675, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small {
  width: 230px !important;
  margin: -66px 0 0 35%;
}
/* line 679, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .slick-prev {
  left: -50px !important;
}
/* line 682, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .slick-list {
  padding: 0 0 0 0 !important;
}
/* line 688, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide {
  padding: 0 10px;
  margin: 0 5px 0 5px;
}
/* line 692, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide:after, .payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide:before {
  display: table;
  clear: both;
  content: "";
}
/* line 698, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide .paymentSmall-slide-img {
  width: 35%;
  float: left;
  vertical-align: middle;
}
/* line 703, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide .paymentSmall-slide-info {
  float: right;
  width: 60%;
  padding: 15px 0 0 0;
  vertical-align: middle;
}
/* line 708, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide .paymentSmall-slide-info strong {
  font-family: 'Open-Sans-Bold';
  font-size: 14px;
  line-height: 22px;
  color: #555;
}
/* line 714, ../sass/screen.scss */
.payment_card_box-container .payment_card_box__slider-small .paymentSmall-slide .paymentSmall-slide-info span {
  font-family: 'Open-Sans';
  font-size: 12px;
  line-height: 14px;
  color: #777;
}

/* line 726, ../sass/screen.scss */
.footer-container {
  background-color: #5b6ceb;
}
/* line 728, ../sass/screen.scss */
.footer-container .footer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: table;
}
/* line 734, ../sass/screen.scss */
.footer-container .footer__about {
  display: table-cell;
  width: 50%;
}
/* line 737, ../sass/screen.scss */
.footer-container .footer__about h2 {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: 'Open-Sans-Bold';
  margin: 0 0 40px 0;
}
/* line 744, ../sass/screen.scss */
.footer-container .footer__about p {
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  font-family: 'Open-Sans';
  margin: 0 0 50px 0;
}
/* line 753, ../sass/screen.scss */
.footer-container .footer__about__list li {
  display: inline-block;
  margin: 0 10px 0 0;
}
/* line 756, ../sass/screen.scss */
.footer-container .footer__about__list li a {
  display: block;
}
/* line 761, ../sass/screen.scss */
.footer-container .footer__contact {
  display: table-cell;
  width: 50%;
}
/* line 764, ../sass/screen.scss */
.footer-container .footer__contact h2 {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: 'Open-Sans-Bold';
  margin: 0 0 40px 0;
}
/* line 772, ../sass/screen.scss */
.footer-container .footer__contact__list {
  font-size: 0;
}
/* line 775, ../sass/screen.scss */
.footer-container .footer__contact__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 0 30px 0;
}
/* line 780, ../sass/screen.scss */
.footer-container .footer__contact__item img {
  float: left;
  width: 10%;
  margin: 0 10px 0 0;
}
/* line 788, ../sass/screen.scss */
.footer-container .footer__contact__item p a {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Open-Sans';
  display: block;
}

/* line 800, ../sass/screen.scss */
.bottom-info-container {
  background-color: #5363d8;
  padding: 45px 0;
  text-align: center;
}
/* line 804, ../sass/screen.scss */
.bottom-info-container p {
  font-size: 16px;
  line-height: 18px;
  color: #b7bffc;
  font-family: 'Open-Sans';
  text-align: center;
}

/* line 813, ../sass/screen.scss */
.mobail-menu-container {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 120;
  padding: 25px;
}
/* line 823, ../sass/screen.scss */
.mobail-menu-container .mobail-menu {
  position: relative;
}
/* line 825, ../sass/screen.scss */
.mobail-menu-container .mobail-menu__list {
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}
/* line 829, ../sass/screen.scss */
.mobail-menu-container .mobail-menu__item {
  margin: 0 0 7px 15px;
  padding: 0 0 0 0;
}
/* line 832, ../sass/screen.scss */
.mobail-menu-container .mobail-menu__item a {
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  font-family: 'Open-Sans-Semibold';
  text-shadow: 1px 1px 2px yellow, 0 0 1em red;
}
/* line 839, ../sass/screen.scss */
.mobail-menu-container .mobail-menu__item a:hover {
  color: #5363db;
  text-decoration: underline;
}
/* line 845, ../sass/screen.scss */
.mobail-menu-container .mobail-menu__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
/* line 855, ../sass/screen.scss */
.mobail-menu-container .mobail-menu__close img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  /* line 864, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 1050px !important;
  }

  /* line 868, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .slick-dots {
    right: 122px !important;
  }

  /* line 872, ../sass/screen.scss */
  .about_us-container .about_us {
    max-width: 950px;
  }

  /* line 875, ../sass/screen.scss */
  .type_balance-container .type_balance__item {
    width: 28%;
  }
}
@media screen and (max-width: 940px) {
  /* line 881, ../sass/screen.scss */
  .type_balance-container .type_balance__item {
    width: 40%;
  }

  /* line 884, ../sass/screen.scss */
  .footer-container .footer__contact__item {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  /* line 890, ../sass/screen.scss */
  .footer-container .footer__about, .footer-container .footer__contact {
    display: block;
    width: 90%;
    padding: 0 0 0 0 !important;
    margin: 30px auto;
  }
}
@media screen and (max-width: 1180px) {
  /* line 899, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 900px !important;
  }

  /* line 903, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__item {
    width: 45%;
    margin: 0 0 30px 0;
  }

  /* line 908, ../sass/screen.scss */
  .footer-container .footer__about,
  .footer-container .footer__contact {
    padding: 0 40px;
  }

  /* line 913, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__list {
    justify-content: space-around;
  }

  /* line 917, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .slick-dots {
    right: 110px !important;
  }

  /* line 921, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img hr {
    margin: -70px -18px 0px 0 !important;
  }

  /* line 925, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
  }

  /* line 931, ../sass/screen.scss */
  .feature-program-container .feature__item-img-box {
    width: 30%;
  }

  /* line 934, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box {
    width: 60%;
  }

  /* line 938, ../sass/screen.scss */
  .feature-program-container .feature__box__list__item {
    width: 96%;
    margin: 0 auto 20px;
    display: block;
  }

  /* line 944, ../sass/screen.scss */
  .feature-program-container .feature__box__list__item:nth-child(2n) {
    margin: 0 auto 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 950, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .slick-dots {
    display: none !important;
  }

  /* line 954, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider {
    max-width: 600px;
  }

  /* line 957, ../sass/screen.scss */
  .greed_box-container .greed_box__item {
    width: 50%;
  }

  /* line 961, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 555px !important;
  }

  /* line 965, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img {
    width: 20%;
  }
  /* line 967, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* line 974, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-small {
    margin: -24px 0 0 7% !important;
  }

  /* line 977, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img hr {
    margin: -103px -59px 0px 0 !important;
  }

  /* line 981, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-info {
    width: 53%;
    padding: 30px 0px 0 50px;
  }

  /* line 986, ../sass/screen.scss */
  .about_us-container .about_us {
    max-width: 683px;
    margin: 30px auto;
  }

  /* line 991, ../sass/screen.scss */
  .about_us-container .about_us__content {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 999, ../sass/screen.scss */
  .header__right-menu,
  .header__left-menu {
    display: none;
  }

  /* line 1004, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 555px !important;
  }

  /* line 1007, ../sass/screen.scss */
  .about_us-container .about_us__content p {
    padding: 0 0 0 0;
  }

  /* line 1011, ../sass/screen.scss */
  .about_us-container .about_us__slider, .about_us-container .about_us__content {
    float: none;
    width: 90%;
    margin: 30px auto 30px;
  }

  /* line 1017, ../sass/screen.scss */
  .banner-container .banner__title {
    float: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  /* line 1024, ../sass/screen.scss */
  .greed_box-container .greed_box__item {
    width: 100%;
  }

  /* line 1028, ../sass/screen.scss */
  .feature-program-container .feature__box__list__item {
    height: auto;
  }

  /* line 1032, ../sass/screen.scss */
  .banner-container .banner__form .form_submit {
    margin: 0 0 0 0;
  }

  /* line 1036, ../sass/screen.scss */
  .banner-container .banner__form input {
    width: 96%;
  }

  /* line 1040, ../sass/screen.scss */
  .feature-program-container .feature__item-img-box img {
    width: 100%;
    height: 100%;
  }

  /* line 1045, ../sass/screen.scss */
  .banner-container .banner__form {
    float: none;
    width: 70%;
    margin: 30px auto 0;
  }

  /* line 1051, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img hr {
    margin: -103px -59px 0px 0 !important;
  }

  /* line 1055, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .slick-dots {
    transform: rotate(180deg) !important;
    top: 230px !important;
    height: 30px;
    left: 70px !important;
  }

  /* line 1062, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    margin: 0 0 0 60px;
  }

  /* line 1066, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-info {
    width: 53%;
    padding: 30px 0px 0 30px;
  }

  /* line 1071, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img {
    width: 20%;
  }
  /* line 1073, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* line 1081, ../sass/screen.scss */
  .payment_card_box__slider-small {
    display: none;
  }

  /* line 1085, ../sass/screen.scss */
  .header-container .header__open-mobile-menu {
    display: block;
  }

  /* line 1089, ../sass/screen.scss */
  .header {
    max-width: 100%;
  }
  /* line 1091, ../sass/screen.scss */
  .header__logo {
    width: 40px !important;
    height: 40px !important;
  }
  /* line 1094, ../sass/screen.scss */
  .header__logo a {
    display: block;
  }
  /* line 1096, ../sass/screen.scss */
  .header__logo a img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 1106, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 400px !important;
  }

  /* line 1109, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .slick-dots {
    top: 260px !important;
  }
}
@media screen and (max-width: 620px) {
  /* line 1115, ../sass/screen.scss */
  .banner-container .banner__form {
    width: 240px;
  }

  /* line 1119, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__item {
    width: 95%;
  }

  /* line 1123, ../sass/screen.scss */
  .type_balance-container .type_balance__item {
    width: 90%;
    margin: 0 auto 30px;
  }

  /* line 1128, ../sass/screen.scss */
  .banner-container .banner__form input {
    width: 92%;
  }

  /* line 1132, ../sass/screen.scss */
  .banner-container .banner__form .form_submit {
    margin: 10px 0 0 0;
  }

  /* line 1136, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box strong {
    margin: 0 0 0 0;
  }

  /* line 1140, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box span {
    font-size: 12px;
    line-height: 13px;
    margin: 6px 0 0 0;
  }

  /* line 1146, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box p {
    font-size: 11px;
    line-height: 17px;
  }

  /* line 1150, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box {
    padding: 7px 5px 15px 0px;
    width: 67%;
  }

  /* line 1154, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box strong {
    font-size: 13px;
    line-height: 14px;
  }
}
@media screen and (max-width: 370px) {
  /* line 1161, ../sass/screen.scss */
  .mobail-menu-container {
    width: 250px;
  }

  /* line 1164, ../sass/screen.scss */
  .banner-container .banner__form {
    width: 222px;
  }

  /* line 1167, ../sass/screen.scss */
  .banner-container .banner__form .select2-container {
    width: 225px !important;
  }
}
@media screen and (max-width: 550px) {
  /* line 1174, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img {
    display: block;
  }

  /* line 1177, ../sass/screen.scss */
  .banner-container .banner__title h1 {
    margin: 0px 0 0 0;
    padding: 0 0 0 0;
    font-size: 27px;
    line-height: 29px;
  }

  /* line 1184, ../sass/screen.scss */
  .about_us-container .about_us__slider, .about_us-container .about_us__content {
    width: 70%;
  }

  /* line 1188, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 340px !important;
  }

  /* line 1191, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-info {
    padding: 0 0 0 0;
    width: 100%;
  }

  /* line 1195, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box p {
    font-size: 10px;
    line-height: 11px;
  }

  /* line 1199, ../sass/screen.scss */
  .feature-program-container .feature__item-info-box span {
    font-size: 11px;
    line-height: 12px;
    margin: 0px 0 0 0;
  }

  /* line 1204, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-info {
    display: block;
  }

  /* line 1207, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider {
    max-width: 400px;
  }

  /* line 1210, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-img hr {
    display: none;
  }

  /* line 1213, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide p:after,
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide p:before {
    display: none !important;
  }

  /* line 1218, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide p {
    width: 100%;
  }

  /* line 1221, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide .paymentBig-slide-info {
    width: 100%;
  }

  /* line 1225, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    margin: 0 auto;
  }
}
@media screen and (max-width: 420px) {
  /* line 1231, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider {
    max-width: 300px;
  }

  /* line 1234, ../sass/screen.scss */
  .payment_card_box-container .payment_card_box__slider-big .paymentBig-slide {
    width: 258px !important;
  }
}
